<div [ngClass]="getBackgroundClass()" class="card clickable w-28 h-40 relative">
  <div [ngClass]="getBackgroundColor()" class="absolute inset-0 w-full h-full z-0 backdrop-filter backdrop-brightness-75">
  </div>

  <div class="relative flex flex-col items-center gap-3 h-full w-full z-10">
    <div class="relative">
      <img [src]="pokemon.default_variety.sprites?.artwork_url" [alt]="pokemon.name" class="h-24 -mt-8 object-contain">
    </div>
    <p class="text-white font-police">{{ pokemon.name }}</p>
    <div>
      <p class="text-white font-police">N°{{ pokemon.id }}</p>
    </div>
  </div>
</div>
