<div class="bg-white py-4">
  <div class="flex justify-between items-center max-w-7xl mx-auto">
    <!-- Centered Logo Pokemon -->
    <div class="mx-auto">
      <img src="/assets/Logo-Pokemon.png" alt="Pokemon Logo" class="h-8 scale-150">
    </div>

    <!-- Profile Picture -->
    <div>
      <img src="/assets/image_889.png" alt="Profile" class="rounded-full w-8 h-8 border border-blue-400 border-2 bg-gradient-to-r from-blue-400 to-yellow-100 scale-150">
    </div>
  </div>
</div>

<div class="py-4">
  <div class="flex items-center max-w-7xl mx-auto space-x-4">
    <!-- Types Carousel -->
    <div class="flex space-x-2">
      <div class="flex justify-center space-x-4">
        <div class="rounded shadow-inner rounded-lg flex w-full max-w-[200px] overflow-x-auto"> 
          <div class="flex whitespace-nowrap items-center"> 
            <!-- Image Home avec conteneur fixe -->
            <div class="inline-block w-6 h-6 flex-shrink-0">
              <img 
                src="assets/home_570227.png" 
                alt="home" 
                (click)="reloadPage()" 
                class="w-full h-full object-contain"
                title="Recharger la page"
              >
            </div>
      
            <!-- Types de Pokémon -->
            @for (type of pokemonetype; track type.id) {
              <div class="type-slide inline-block w-12 h-12 flex-shrink-0">
                <img 
                  [src]="type.sprite_url" 
                  [alt]="type.name" 
                  class="w-full h-full object-contain mx-2 cursor-pointer" 
                  (click)="handleTypeClick(type)"
                > 
              </div>
            }
          </div>
        </div>
      </div>
    </div>

    <!-- Search Bar and Buttons -->
    <div class="flex-1 relative">
      <input 
        type="search" 
        id="site-search" 
        name="q" 
        [(ngModel)]="searchQuery"
        placeholder="Chercher un pokemon" 
        class="bg-gray-200 rounded-l-lg py-2 px-4 focus:outline-none focus:ring-2 focus:ring-red-500 focus:border-transparent w-full"
      >
      <button 
        (click)="handleSearch()"
        class="absolute inset-y-0 right-0 bg-gradient-to-r from-red-500 to-red-700 text-white rounded-r-lg px-4 py-2 hover:from-red-600 hover:to-red-800"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
      </button>
    </div>

    <div class="flex space-x-2">
      <button class="bg-gradient-to-r from-red-500 to-red-700 text-white rounded-lg px-4 py-2 hover:from-red-600 hover:to-red-800">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
        </svg>
      </button>
      <button class="bg-gradient-to-r from-red-500 to-red-700 text-white rounded-lg px-4 py-2 hover:from-red-600 hover:to-red-800">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
        </svg>
      </button>
    </div>
  </div>
</div>
<div class="p-4 grid gap-4 max-w-7xl mx-auto">
  @if (searchResults.length > 0) {
    @for (pokemon of searchResults; track pokemon.id) {
      <a [routerLink]="['/pokemon/'+pokemon.id]" class="pokemon-card transform transition-transform duration-300 hover:scale-105">
        @if (pokemon.default_variety?.sprites?.artwork_url) {
          <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
        } @else {
          <div class="placeholder">No image</div>
        }
      </a>
    }
  } @else {

<div>
  <!-- <h1>{{ 'pokemon_list' | transloco }}</h1> -->
  <section class="p-4 grid grid-cols-2 md:grid-cols-3 gap-4 max-w-7xl mx-auto">
      @if (isLoading && !pokemonList) {
      <div>loading...</div>
    } @else if (pokemonList) {
      @for (pokemon of pokemonList.data; track pokemon.id) {
       <a [routerLink]="['/pokemon/'+pokemon.id]" class="pokemon-card transform transition-transform duration-300 hover:scale-105">
  @if (pokemon.default_variety.sprites?.artwork_url) {
    <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
  } @else {
    <div class="placeholder">No image</div>
  }
</a>
      }
    } @else {
      <div>Aucun Pokémon trouvé</div>
    }
  </section>
</div>
  }